<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\temp\TracesWebSiteSite111.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151"  executionTimeout="1200000"/>
    <globalization culture="en-US" uiCulture="en-US"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
      -->
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:00:30" sendTimeout="00:01:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="900000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>

      </netTcpBinding>
      <webHttpBinding>
        <binding name="HttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:51401/Service.svc" behaviorConfiguration="NetTcpbehavor"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
        contract="IService" name="NetTcpBindingEndpoint2">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxAspNetAjaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <enableWebScript/>
        </behavior>
        <behavior name="NetTcpbehavor"  >
          <dataContractSerializer  maxItemsInObjectGraph="2147483646"/>

        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceNameBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="serviceNameBehavior" name="RusWizards.RestoranAjax">
        <endpoint address="" behaviorConfiguration="AjaxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="HttpBinding" contract="RusWizards.RestoranAjax"/>
      </service>

    </services>
  </system.serviceModel>
</configuration>